<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/nav.ejs')%>
    <h1>Edit Disease</h1>
    
    <form action="/diseases/edit/<%= disease.id %> " method="post">

        <p>
            Name of Disease <br>
            <input type="text" name="name" value="<%= disease.name %>">
        </p>

        <p>
            <label>Description</label>
            <br>
            <textarea name="description" value="<%= disease.description %>" rows="4" cols="50">        
            </textarea>
        </p>

        <p>
            <input type="submit" value="Save Editing">
        </p>

    </form>

</body>
</html>