<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/nav.ejs')%>

    <br>

    <button><a href="/diseases/add">Add New Disease</a></button>

    <h1>Diseases List</h1>

    <form action="/diseases/list" method="get">
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>

    <table width="100%" border="1" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>Name of Diseases</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% diseases.forEach(el => { %>
            <tr>
                <td><%= el.name %></td>
                <td align="left"><%= el.description %></td>

                <td><p align="left"><%= el.description %></p></td>

                <td>
                    <button><a href="/diseases/edit/<%= el.id %> ">Edit</a></button>

                    <button><a href="/diseases/delete/<%= el.id %> ">Delete</a></button>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>